<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать на мой первый проект на Django!</h1>
    </header>
    <main>
        <section>
            <h2>О проекте</h2>
            <p>Меня зовут Алексей Русаков, и это мой первый проект на Django. Я очень вдохновлен возможностями этого фреймворка и рад начать свой путь в веб-разработке с него.</p>
        </section>
        <section>
            <h2>О моем первом Django-сайте</h2>
            <p>Мой первый Django-сайт представляет собой простую веб-страницу, где я могу показать свои навыки в создании динамических веб-приложений. На сайте я планирую добавить различные функции, такие как регистрация пользователей, аутентификация, а также возможность публикации и комментирования контента.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Алексей Русаков. Все права защищены.</p>
    </footer>
</body>
</html>